img{
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.Card{
    text-align: center;
    border: 2px solid black;
    width: 500px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
}
div{
    box-shadow: 10px 10px 5px grey;
}
h1{
    color: red;
}
.title{
    text-align: center;
    color: blue;
}
p{
    text-align: justify;
}
body{
    background-image: url("images/o.jpg");
    background-size: cover;
}